@import url(http://fonts.googleapis.com/css?family=Raleway);




.home .header
{
    padding: .9px;
    background-color:#e53238;
    width: 1255px;
    height: 80px;
    margin-bottom: 4px;
}

.home .header .container img
{
    float: left;
    width: 90px;
    height: 80px;
    margin-left: 30px;

}
.home .header h1 span
{
    background-color: black;
    color: white;
    padding: 5px;
    font-family: 'Noto Serif', serif;
    text-transform: capitalize;
}

.home .header h1
{
    float: left;
    font-family: 'Noto Serif', serif;
    color: black;
    letter-spacing: 5px;
    font-weight:600;
}

.home .header i.fa.fa-graduation-cap
{
    float: left;
    position:absolute;
    top: 5px;
    margin-left: 290px;
    color: #ffcc33;   
    font-size: 30px;
}


.home .header .container .sign
{
    float: right;
    padding-right: 50px;
    padding-top: 30px;
    letter-spacing: .5px;
}
.home .header .container .sign .signin 
{
    padding: 15px;
    background-color: #0064d2;
    color: white;
    border: .1px black;
    letter-spacing: 1.5px;

}
.home .header .container .sign .signin:hover{
    cursor: pointer;
    background-color: blue;
}


.home .header .container .sign .signup
{
    padding-top: 50px;
    padding: 15px;
    background-color: black;
    color: white;
    border: .1px black;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.home .header .container .sign .signup:hover{
    cursor: pointer;
    background-color: blue;
}


/*End of header*/



/*Start of serch*/

 div[class="search"]
{
    padding-top: 20px;    
    height: 10px;
    padding-bottom: 30px;
    width: 1260px;
    height: 15px;
}

input[type="search"]
{
    margin-left: 739px;
    width: 250px;
    padding: 10px;
    border: 1px #0064d2 solid; 
    float: left;
}

input[type="submit"]
{
    width: 50px;
    padding: 10px;
    background:#0064d2  url(../images/search.png) no-repeat;
    background-position: center;
    border: 1px #0064d2 solid;    
    margin-right: 100px;
    
}
/*End of serch*/

/*start of bar*/

.home .bar 
{
    width: 1260px;
    height: 92px;
    letter-spacing: 1px;
}
.home .nav-bar ul ul {
    display: none;
    
}
.home .nav-bar ul li:hover > ul {
    display: block;
    
    
}
.home .nav-bar ul {
    background: white;
    /*background: linear-gradient(top, #000 0%, #000 0%);
    background: -moz-linear-gradient(top, #000 0%, #000 0%);
    background: -webkit-linear-gradient(top, #000 0%,#000 0%);
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);*/
    padding: 0 20px;
    border-radius: 10px;
    border-color: white;
        position:relative;

    display: inline-table;
}
.home .nav-bar ul:after {
    content: ""; 
    clear: both; 
    display: block;
}
.home .nav-bar ul li {
    float: left;
    list-style:none;
    background-color: #FFF;
}
.home .nav-bar a{
    text-transform: uppercase;
}
.home .nav-bar ul li:hover {
    background: #0064d2;
    list-style:none;
   /*background: linear-gradient(top, #000 0%, #000 40%);
    background: -moz-linear-gradient(top, #000 0%, #000 40%);
    background: -webkit-linear-gradient(top, #e53238 0%,#e53238 40%);
    */
}

.home .nav-bar ul li:hover a {
    color: #000;
}

.nav-bar ul li a:hover{
    cursor: pointer;
}
.home .nav-bar .hvr-rectangle-out-scroll:hover
{ 
    color: white;
}
.home .nav-bar .hvr-rectangle-out-scroll
{
    color: black;
}
.home .nav-bar ul li a {
    display: block; 
    padding: 1.4em 1.6em;
    color: #000; 
    text-decoration: none;
}
.home .nav-bar ul ul {
    background: #000; 
    border-radius: 0px; 
    padding: 0;
    position:absolute; 
    top: 100%;
}
.home .nav-bar ul ul li {
    float: none;
    border-top: 1px solid #0064d2;
    border-bottom: 1px solid #0064d2;
    position: relative;
    list-style:none;

}

.home .nav-bar ul ul li a {
    padding: 1.5em 1.5em;
    color: black;
}

.home .nav-bar ul ul li a:hover {
    background: #0064d2;
    
}
.home .nav-bar ul ul ul {
    position:absolute; 
    left: 100%; 
    top:0;
}
.home .hoome
{
    
     color: #000;
    background: #0064d2;
}
.home .nav-bar .hoome:hover
{
    color: #FFF;
}
.home .obj
{
    
     color: #FFF;
    background: #FFF;
}
.home .new
{
    
     color: #FFF;
    background: #FFF;
}
/**.gal
{
   
     color: #FFF;
    background: #FFF;
}*/
.home .fac
{
    
     color: #FFF;
    background: #FFF;
}
.home .fac li
{
    list-style: none;
}
.home ul
{
    list-style: none;
}
/*.con
{
   
     color: #FFF;
    background: #FFF;
}
  */  
.home a
{
    text-decoration: none;
}

/*End of bar*/


.coursee #courses,
.coursee #courses ul,
.coursee #courses ul li,
.coursee #courses ul li a,
.coursee #courses #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.coursee #courses:after,
.coursee #courses > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.coursee #courses #menu-button {
  display: none;
}
.coursee .coursee #courses {
  width: auto;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
.coursee #courses > ul {
  background: #3db2e1;
}
.coursee #courses > ul > li {
  float: left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.coursee #courses.align-center > ul {
  font-size: 0;
  text-align: center;
}
.coursee #courses.align-center > ul > li {
  display: inline-block;
  float: none;
}
.coursee #courses.align-right > ul > li {
  float: right;
}
.coursee #courses > ul > li > a {
  padding: 16px 20px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background: #3db2e1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.coursee #courses > ul > li.active > a {
  color: #dff2fa;
}
.coursee #courses > ul > li:hover > a,
.coursee #courses > ul > li > a:hover {
  color: #dff2fa;
  -webkit-transform: rotateX(90deg) translateY(-23px);
  -moz-transform: rotateX(90deg) translateY(-23px);
  transform: rotateX(90deg) translateY(-23px);
  -ms-transform: none;
}
.coursee #courses > ul > li > a::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  color: #dff2fa;
  background: #19799f;
  content: attr(data-title);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: translateY(- -18px);
}
.coursee #courses > ul > li:hover > a::before,
.coursee #courses > ul > li > a:hover::before {
  background: #3db2e1;
}
.coursee #courses.small-screen {
  width: 100%;
}
.coursee #courses.small-screen > ul,
.coursee #courses.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
.coursee #courses.small-screen > ul > li,
.coursee #courses.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
.coursee #courses.small-screen > ul > li:hover > a,
.coursee #courses.small-screen > ul > li > a:hover {
  color: #dff2fa;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
.coursee #courses.small-screen > ul > li > a::before {
  display: none;
}
.coursee #courses.small-screen #menu-button {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #3db2e1;
}
.coursee #courses.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 22px;
  height: 3px;
}
.coursee #courses.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #dff2fa;
  border-bottom: 2px solid #dff2fa;
}
.coursee #courses.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}
.coursee #courses.small-screen #menu-button.menu-opened:before {
  background: #dff2fa;
}
/*end of navbar*/
/*start clearFloat */
.coursee .clearFloat{
  clear: both;
}
/*start clearFloat */

/*start videos */
.coursee .videos{
  margin-top: 20px;
  overflow: hidden;
}
.coursee .videos .image {
  float: left;
  width:30%;
  height:200px;
  margin-right: 30px;
}
.coursee .videos .image img{
  width:100%
}
.coursee .videos .description{
  float: left;
  width:60%;
}
/*end videos */










.coursee .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.coursee .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.coursee .dropdown {
    position: relative;
    display: inline-block;
}

.coursee .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.coursee .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.coursee .dropdown a:hover {background-color: #ddd}

.coursee .show {display:block;}


.coursee .heading{
	color:#fb0046
}

.coursee .details p{
	font-weight:bold;
}


/*Start of Footer*/



.home .footer
{
    width:1260px;
}
.home .footer .container
{
    background-color: black;
    width: 100%;
    height: 100%;
}
.home .f
{
 
    padding-bottom: 300px;
}
.home .f h3
{
    color: white;
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 1.2px;
    padding-bottom: 20px;
    
}
.home a h3 span
{
    background-color: red;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 1.2;
    
}
.home .f p
{
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 2;
}
.home .left
{
    width: 25%;
    float: left;
    margin-left: 100px;     
}


.home .mid
{
    float: left;
    width: 25%;
    margin-left: 100px;
}
.home .mid a
{
    color: white;
}
.home .mid i
{
    list-style: none;
    margin-top: 0px;
    margin-left: -20px;
    list-style-type: none;
    font-size: 20px;
}
.home .mid p
{   
    margin-left: -20px;
    margin-top: -20px;
    padding-bottom: 20px;
}

.home .right
{
    float: right;
    width: 25%;
    margin-right: 100px;
    
}
.home .right ul li  a i
{
    font-size: 30px;
    color: black;
    background-color: white;
}
.home .right ul li  a i:hover
{
    background-color: blue;
}

.home .right ul li a
{
    font-size: 20px;
    padding-left: 20px;
    color: #545353;
    
}
.home .right ul li a:hover
{
    color: blue;
}
.home .right ul li
{
 list-style: none;
    padding-bottom: 40px;
    
}


.home .last
{
      padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: ;
    color: white;
    background-color: #1b1a1a;
    width: 1200px;
        height:20px;
}

/*End of Footer*/